{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .posts-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three equal columns */
        gap: 20px; /* Space between columns */
    }

</style>

<div class="home-container">

    <div>
        <h3>Все темы</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">Все</a>
        </div>

        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }}</a>
        </div>
        {% endfor %}
    </div>

    <div>
        <h5>{{ room_count }} постов найдено</h5>
        <a href="{% url 'create-room' %}">Новый пост</a>

        <div class="posts-container">
            {% for room in rooms %}
            <div class="post">
                <hr>
                <a href="{% url 'update-room' room.id %}">Редактировать пост</a>
                <a href="{% url 'delete-room' room.id %}">Удалить пост</a>
                <div>
                    <span>@{{ room.host.username }}</span>
                    <small>Опубликовано: {{ room.created|date:"Y-m-d" }}</small>
                    <h5><a href="{% url 'room' room.id %}">{{ room.name }}</a></h5>

                    {% if room.image %}
                    <img src="{{ room.image.url }}" alt="{{ room.name }}" style="max-width: 200px; max-height: 200px;">
                    {% endif %}

                    <div>
                        <p>{{ room.description }}</p>
                    </div>

                </div>
                <hr>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock content %}
