{% extends 'main.html' %}

{% block content %}

<div>
    <h2>{% if page == 'login' %}Вход{% else %}Регистрация{% endif %}</h2>

    <form method="POST" action="">
        {% csrf_token %}

        {% if page == 'login' %}
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" placeholder="Введите имя пользователя" required/>

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required/>

            <input type="submit" value="Войти" />
        {% else %}
            {{ form.as_p }}
            <input type="submit" value="Зарегистрироваться" />
        {% endif %}
    </form>

    <p>
        {% if page == 'login' %}
            Ещё не зарегистрированы? <a href="{% url 'register_company' %}">Зарегистрироваться</a>
        {% else %}
            Уже зарегистрированы? <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </p>
</div>

{% endblock content %}
